x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile.airflow
  environment:
    AIRFLOW__CORE__EXECUTOR: SequentialExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
    PYTHONPATH: /app
  volumes:
    - airflow_db:/opt/airflow
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - .:/app
    - ./src:/app/src
    - ./db:/app/db
    - ./config:/app/config
    - ./data:/app/data
    - ./raw_data:/app/raw_data

services:
  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command: -c "airflow db migrate && airflow users create --username admin --password admin --firstname Air --lastname Flow --role Admin --email admin@example.com"

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always
    depends_on:
      - airflow-init

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - airflow-scheduler

  etl-worker:
    build:
      context: .
      dockerfile: Dockerfile.etl
    container_name: etl-worker
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - ./raw_data:/app/raw_data
    command: tail -f /dev/null

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: climate-dashboard
    ports:
      - "8501:8501"
    volumes:
      - ./dashboard:/app/dashboard
      - ./data:/app/data

volumes:
  airflow_db:
